<!doctype html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>Timetracker - Project</title>

  <!-- Bootstrap core CSS -->
  <link href="assets/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/dist/css/vue-multiselect.min.css" rel="stylesheet">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    span.badge {
      color: black;
    }
  </style>


  <!-- Custom styles for this template -->
  <link href="styles.css" rel="stylesheet">
  <style>
    .wrapper {
      max-width: 1200px;
      min-width: 700px;
      margin: 0 auto;
    }

    .gantt {
      margin-top: 20px;
      display: grid;
      border: 0;
      position: relative;
      overflow: hidden;
      box-sizing: border-box;
      border: 1px solid #e5e5e5;
    }

    .gantt__row {
      display: grid;
      grid-template-columns: 150px 1fr;
      background-color: #fff;
    }

    .gantt__row:nth-child(3) .gantt__row-bars {
      border-top: 0;
    }

    .gantt__row:nth-child(3) .gantt__row-first {
      border-top: 0;
    }

    .gantt__row--empty {
      background-color: #ffd6d2 !important;
      z-index: 1;
    }

    .gantt__row--empty .gantt__row-first {
      border-width: 1px 1px 0 0;
    }

    .gantt__row--lines {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: transparent;
      grid-template-columns: 150px repeat(7, 1fr);
    }

    .gantt__row--lines span {
      display: block;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }

    .gantt__row--lines span.marker {
      background-color: rgba(10, 52, 68, 0.13);
      z-index: 2;
    }

    .gantt__row--lines:after {
      grid-row: 1;
      grid-column: 0;
      background-color: #1688b345;
      z-index: 2;
      height: 100%;
    }

    .gantt__row--months {
      color: #fff;
      background-color: #3d60b3 !important;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      grid-template-columns: 150px repeat(7, 1fr);
    }

    .gantt__row--months .gantt__row-first {
      border-top: 0 !important;
      background-color: #3d60b3 !important;
    }

    .gantt__row--months span {
      text-align: center;
      font-size: 13px;
      align-self: center;
      font-weight: bold;
      padding: 5px 0;
    }

    .gantt__row-first {
      background-color: #fff;
      border-width: 1px 0 0 0;
      border-color: rgba(0, 0, 0, 0.1);
      border-style: solid;
      padding: 15px 0;
      font-size: 13px;
      font-weight: bold;
      text-align: center;
    }

    .gantt__row-bars {
      list-style: none;
      display: grid;
      padding: 9px 0;
      margin: 0;
      grid-template-columns: repeat(7, 1fr);
      grid-gap: 8px 0;
      border-top: 1px solid rgba(221, 221, 221, 0.8);
    }

    .gantt__row-bars li {
      font-weight: 500;
      text-align: left;
      font-size: 14px;
      min-height: 15px;
      background-color: #55de84;
      padding: 5px 12px;
      color: #fff;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      border-radius: 20px;
    }

    .gantt__row-bars li.stripes {
      background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255, 255, 255, 0.1) 5px, rgba(255, 255, 255, 0.1) 12px);
    }

    .gantt__row-bars li:before,
    .gantt__row-bars li:after {
      content: "";
      height: 100%;
      top: 0;
      z-index: 4;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.3);
    }

    .gantt__row-bars li:before {
      left: 0;
    }

    .gantt__row-bars li:after {
      right: 0;
    }

    input.dateInpt {
      max-width: 8rem;
    }


    .tktInput,
    .tktInput>div>.dateInpt {
      border: none;
      border-bottom: 1px solid lightblue;
      ;
    }

    .loader{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transform: -webkit-translate(-50%, -50%);
      transform: -moz-translate(-50%, -50%);
      transform: -ms-translate(-50%, -50%);
      color:darkred;
    }
  </style>
</head>

<body class="d-flex flex-column h-100">

  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html">Timetracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto mb-2 mb-md-0">
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="management.html">Management</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="report.html" tabindex="-1" aria-disabled="true">Report</a>
            </li>
          </ul>
          <form class="d-flex">
            <a class="nav-link" href="index.html">Logout</a>
          </form>
        </div>
      </div>
    </nav>
  </header>

  <!-- Begin page content -->
  <main class="flex-shrink-0">
    <div class="container" id="app">
      <div class="row mt-5">
        <div class="col">
          <h1>Project - {{ project.project_name }}</h1>
        </div>
        <div class="col text-right">
          <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Switch Project
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" v-for="(project,index) in projects_details" :key="index" @click="project_filters_selected_index=index" href="#">{{project.project_name}}</a>
            </div>
          </div>
        </div>
      </div>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab"
            aria-controls="overview" aria-selected="true">Overview</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="members-tab" data-toggle="tab" href="#members" role="tab" aria-controls="members"
            aria-selected="false">Members</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="tickets-tab" data-toggle="tab" href="#tickets" role="tab" aria-controls="tickets"
            aria-selected="false">Tickets</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="entries-tab" data-toggle="tab" href="#entries" role="tab" aria-controls="entries"
            aria-selected="false">Entries</a>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <!-- project details -->
        <div class="tab-pane fade show active p-3" id="overview" role="tabpanel" aria-labelledby="overview-tab">
          <div v-if="!project ||  !prjectMembersApiLoaded" class="loader">
            <div  class="d-flex justify-content-center">
              <div class="spinner-border mt-20" role="status">
                <span class="sr-only ">Loading...</span>
              </div>
            </div>
          </div>
          <div v-if="project && prjectMembersApiLoaded" class="row">
            <div class="col">
              <h6>Name</h6>
              <p class="lead">{{ project.project_name }}</p>
              <h6>Code</h6>
              <p class="lead">{{ project.project_code }}</p>
              <h6>Start Date</h6>
              <p class="lead">{{ project.project_start_date | formatDate }}</p>
              <h6>End Date</h6>
              <p class="lead">{{ project.project_end_date | formatDate }}</p>
            </div>
            <div class="col">
              <h4>Managers</h4>
              <ul class="list-group list-group-flush">
                <li class="list-group-item" v-for="(manager,index) in managers" :key="index" >{{manager}}</li>
              </ul>
              <h4 class="mt-3">Members</h4>
              <ul class="list-group list-group-flush">
                <li class="list-group-item" v-for="(member,index) in members" :key="index" >{{member}}</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- project members -->
        <div class="tab-pane fade p-3" id="members" role="tabpanel" aria-labelledby="members-tab">
          <div v-if="!project ||  !prjectMembersApiLoaded || !getEmployeeDetailsApiLoaded" class="loader">
            <div  class="d-flex justify-content-center">
              <div class="spinner-border mt-20" role="status">
                <span class="sr-only ">Loading...</span>
              </div>
            </div>
          </div>
          <div v-if="project && prjectMembersApiLoaded && getEmployeeDetailsApiLoaded" class="row">
            <div class="col">
              <div class="row">
                <div class="col">
                  <h3>Manager</h3>
                </div>
                <div class="col text-right">
                  <button class="btn btn-sm btn-outline-secondary" data-toggle="modal"
                  @click="isAddManger=true" data-target="#exampleModal1">+</button>
                </div>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center " v-for="manager in managers">{{manager}}
                  <span @click="deleteProjectMember(manager)" class="badge" style="cursor: pointer;">X</span>
                </li>
              </ul>
            </div>
            <div class="col">
              <div class="row">
                <div class="col">
                  <h3>Member</h3>
                </div>
                <div class="col text-right">
                  <button class="btn btn-sm btn-outline-secondary" data-toggle="modal"
                   @click="isAddManger=false" data-target="#exampleModal1">+</button>
                </div>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center" v-for="member in members">{{member}}
                  <span @click="deleteProjectMember(member)" class="badge" style="cursor: pointer;">X</span>
                </li>

                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- tickets -->
        <div class="tab-pane fade p-3" id="tickets" role="tabpanel" aria-labelledby="tickets-tab">
          <div v-if="!project ||  !getProjectTasksApiLoaded" class="loader">
            <div  class="d-flex justify-content-center">
              <div class="spinner-border mt-20" role="status">
                <span class="sr-only ">Loading...</span>
              </div>
            </div>
          </div>
          <div v-if="project &&  getProjectTasksApiLoaded">
            <div class="mt-4 row">
              <div class="col-sm">
                <h4>
                  Week :
                  <small class="text-muted">{{week}}
                    <vuejs-datepicker class="pl-1" input-class="calPicker" @selected="dateSelected" format="yyyy-MM-dd"
                      calendar-button></vuejs-datepicker>
                  </small>
                </h4>
              </div>
              <div class="col-sm text-right">
                <!-- <button class="btn btn-primary btn-sm" onclick="save()">Save</button> -->
              </div>
            </div>
            <table class="table table-hover table-responsive table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Summary</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Estimated Hours</th>
                  <th>Assignees</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="t in tasks">
                  <td>
                    <div v-show="!t.edit" v-on:click="edit(t)">{{t.ticket_id}}</div>
                    <div v-show="t.edit"><input style="max-width: 8rem;" type="text" class="tktInput"
                        v-model="t.ticket_id"></div>
                  </td>
                  <td>
                    <div v-show="!t.edit" v-on:click="edit(t)">{{t.summary}}</div>
                    <div v-show="t.edit"><input type="text" class="tktInput" v-model="t.summary"></div>
                  </td>
                  <td>
                    <div v-show="!t.edit" v-on:click="edit(t)">{{t.task_start_date}}</div>
                    <div v-show="t.edit">
                      <vuejs-datepicker input-class="dateInpt" format="yyyy/MM/dd" class="tktInput" v-model="t.task_start_date">
                      </vuejs-datepicker>
                    </div>
                  </td>
                  <td>
                    <div v-show="!t.edit" v-on:click="edit(t)">{{t.task_end_date}}</div>
                    <div v-show="t.edit">
                      <vuejs-datepicker input-class="dateInpt" format="yyyy/MM/dd" class="tktInput" v-model="t.task_end_date">
                      </vuejs-datepicker>
                    </div>
                  </td>
                  <td>
                    <div v-show="!t.edit" v-on:click="edit(t)">{{t.estimateHours }}</div>
                    <div v-show="t.edit"><input style="max-width: 3rem;" type="number" class="tktInput"
                        v-model="t.estimateHours">
                    </div>
                  </td>
                  <td>
                    <div v-show="!t.edit" v-on:click="edit(t)">{{t.assignees.join(', ')}}</div>
                    <div v-show="t.edit">
                      <multiselect class="tktInput" v-model="t.assignees" :options="members" :multiple="true"
                        :close-on-select="false" :clear-on-select="false" :preserve-search="true" placeholder="assign"
                        :hide-selected="true">
                      </multiselect>
                    </div>
                  </td>
                  <td><button class="btn btn-sm btn-outline-success" v-show="t.edit"
                      v-on:click="saveTicket(t)">Done</button><button v-show="!t.edit"
                      class="btn btn-sm btn-outline-danger" @click="deleteTicket(t)">Delete</button></td>
                </tr>
                <tr>
                  <td>
                    <input style="max-width: 8rem;" type="text" class="tktInput" v-model="task.ticket_id">
                  </td>
                  <td>
                    <input type="text" class="tktInput" v-model="task.summary">
                  </td>
                  <td>
                    <vuejs-datepicker input-class="dateInpt" format="yyyy/MM/dd" class="tktInput"
                      v-model="task.task_start_date">
                    </vuejs-datepicker>
                  </td>
                  <td>
                    <vuejs-datepicker input-class="dateInpt" format="yyyy/MM/dd" class="tktInput" v-model="task.task_end_date">
                    </vuejs-datepicker>
                  </td>
                  <td>
                    <input style="max-width: 3rem;" type="number" class="tktInput" v-model="task.estimateHours">
                  </td>
                  <td>
                    <multiselect class="tktInput" v-model="task.assignees" :options="members" :multiple="true"
                      :close-on-select="false" :clear-on-select="false" :preserve-search="true" placeholder="assign"
                      :hide-selected="true">
                    </multiselect>
                  </td>
                  <td><button class="btn btn-sm btn-outline-success" v-show="task" v-on:click="saveTicket(task)">Done</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="wrapper mt-5">
              <div class="gantt">
                <div class="gantt__row gantt__row--months">
                  <div class="gantt__row-first"></div>
                  <span>Sun<br>{{sun}}</span><span>Mon<br>{{mon}}</span><span>Tue<br>{{tue}}</span>
                  <span>Wed<br>{{wed}}</span><span>Thu<br>{{thu}}</span><span>Fri<br>{{fri}}</span>
                  <span>Sat<br>{{sat}}</span>
                </div>
                <div class="gantt__row gantt__row--lines" data-month="5">
                  <span></span><span class="marker"></span><span></span>
                  <span></span><span></span><span></span>
                  <span></span><span class="marker"></span>
                </div>
                <div class="gantt__row" v-for="m of members">
                  <div class="gantt__row-first">
                    {{m}}
                  </div>
                  <ul class="gantt__row-bars">
                    <li v-for="t of membersTasks[m]" v-bind:style="t.grid" style="background-color: #2ecaac;">{{t.summary}}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <!-- entries -->
        <div class="tab-pane fade p-3" id="entries" role="tabpanel" aria-labelledby="entries-tab">
          <div v-if="!project ||  !getAllEntriesApiLoaded" class="loader">
            <div  class="d-flex justify-content-center">
              <div class="spinner-border mt-20" role="status">
                <span class="sr-only ">Loading...</span>
              </div>
            </div>
          </div>
          <div v-if="project &&  getAllEntriesApiLoaded">
            <h6>Filter :</h6>
            <div class="btn-group">
              <div class="dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Members: {{ selected_member_filter }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#" v-for="(member,index) in project_members_filters" :key="index" @click="selected_member_filter = member">{{member}}</a>
                </div>
              </div>
            </div>
            <div class="btn-group">
              <div class="dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Status: {{ selected_status_filter }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" v-for="(status,index) in statuses" :key="index" @click="selected_status_filter=status" href="#">{{status}}</a>
                </div>
              </div>
            </div>
            <table class="table table-hover table-responsive table-sm mt-5">
              <thead>
                <tr>
                  <th><input type="checkbox"></th>
                  <th>Ticket</th>
                  <th>Date</th>
                  <th>Hours</th>
                  <th>By</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(entry,index) in entries" :key="index">
                  <td><input type="checkbox"></td>
                  <td>{{entry.task}}</td>
                  <td>{{entry.entry_date | formatDate }}</td>
                  <td>{{entry.minutes | formatDuration}}</td>
                  <td>{{entry.employee}}</td>
                  <td>
                    <span v-show="entry.entry_status ==='pending'">
                      <svg @click="approveEntry(entry)" class="bi bi-check-square-fill" width="1em" height="1em" viewBox="0 0 16 16"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                          d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                      </svg>
                      <svg @click="rejectEntry(entry)" class="bi bi-x-square-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                          d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm9.854 4.854a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z" />
                      </svg>
                    </span><button class="btn btn-sm btn-outline-success" v-show="entry.entry_status==='approved'"
                    >Approved</button><button v-show="entry.entry_status==='rejected'"
                    class="btn btn-sm btn-outline-danger" >Rejected</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <nav aria-label="...">
              <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                  <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
          
        </div>
      </div>
      <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Name</label>
                <multiselect class="employeesInput" v-model="selectedEmployees" :options="employees" :multiple="true"
                      :close-on-select="false" :clear-on-select="false" :preserve-search="true" placeholder="assign"
                      :hide-selected="true">
                </multiselect>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" @click="addProjectMembers" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Ticket</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!--Modal Body-->
            <div class="modal-body">
              <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">ID</label>
                <input type="text" class="form-control" id="TicketID" placeholder="Ticket ID">
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Summary</label>
                <input type="text" class="form-control" id="ticketDescription" placeholder="Summary">
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Start Date</label>
                <input type="date" class="form-control" id="ticketDescription" placeholder="Start date">
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">End Date</label>
                <input type="date" class="form-control" id="ticketDescription" placeholder="End date">
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Estimated hours</label>
                <input type="number" class="form-control" id="EstTime" placeholder="Input Estimated Time">
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Assignee</label>
                <select class="form-control" multiple>
                  <option value="">Ebby</option>
                  <option value="">Vijay</option>
                  <option value="">Satish</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      <!-- reject Modal -->
      <!-- Modal -->
      <div class="modal fade" id="exampleModalReject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Rejection Reason</label>
                <textarea class="form-control" v-model="entry_update_modal.entry_reject_reason" placeholder="Enter rejection reason" ></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" @click="submitRejection" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
  </main>

  <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <span class="text-muted">Copyright</span>
    </div>
  </footer>
  <script src="assets/dist/js/vue.js"></script>
  <script src="assets/dist/js/axios.min.js"></script>
  <script src="assets/dist/js/moment.js"></script>
  <script src="assets/dist/js/vuejs-datepicker.min.js"></script>
  <script src="assets/dist/js/bootstrap.bundle.min.js"></script>
  <script src="assets/dist/js/vue-multiselect.min.js"></script>
  <script src="assets/dist/js/sweetalert.js"></script>
  <script>
    function openDetailsModal() {
      new bootstrap.Modal(document.getElementById('exampleModal'), {}).show();
    }
    function save() {
      new bootstrap.Toast(document.getElementById('saveToast'), {}).show()
    }
    const app = new Vue({
      el: '#app',
      data: {
        prjectMembersApiLoaded:null,
        getProjectTasksApiLoaded: null,
        getAllEntriesApiLoaded: null,
        getEmployeeDetailsApiLoaded: null,
        allEmployeesDetails:[],
        employees:[],
        selectedEmployees:[],
        isAddManger:false,
        allProjectMembers:[],
        entry_update_modal:{},
        project_filters_selected_index:null,
        selected_status_filter:"All",
        selected_member_filter:"All",
        project_members_filters:[],
        statuses: ["All","approved","rejected","pending"],
        projects_details: [],
        project:{},
        project_members:{},
        value: [],
        fetched_project_tasks: [],
        approver:{
          name: "Pradeep", id:121
        },
        options: [
          { name: 'Vue.js', language: 'JavaScript' },
          { name: 'Adonis', language: 'JavaScript' },
          { name: 'Rails', language: 'Ruby' },
          { name: 'Sinatra', language: 'Ruby' },
          { name: 'Laravel', language: 'PHP' },
          { name: 'Phoenix', language: 'Elixir' }
        ],
        mon: '',
        tue: '',
        wed: '',
        thu: '',
        fri: '',
        sat: '',
        sun: '',
        startDate: moment().startOf('week').format("yyyy/MM/DD"),
        endDate: moment().endOf('week').format("yyyy/MM/DD"),
        week: moment().startOf('week').format("yyyy/MM/DD") + " ~ " + moment().endOf('week').format("yyyy/MM/DD"),
        editingTask: {
          edit: true,
          assignee: [],
        },
        task: {
          edit: true,
          assignees: [],
          task_start_date: moment().startOf('week').format("yyyy/MM/DD"),
          task_end_date: moment().endOf('week').format("yyyy/MM/DD"),
        },
        members: [],
        managers:[],
        membersTasks: {},
        tasks: [],
        allTasks: [],
        all_entries: [],
        entries: [],

      },
      components: {
        vuejsDatepicker,
        Multiselect: window.VueMultiselect.default
      },
      methods: {
        dateSelected: function (date) {
          this.startDate = moment(new Date(date)).startOf('week').format("yyyy/MM/DD");
          this.endDate = moment(new Date(date)).endOf('week').format("yyyy/MM/DD");
          this.week = moment(this.startDate).format('YYYY/MM/DD') + " ~ " + moment(this.endDate).format('YYYY/MM/DD')
          this.sun = moment(this.startDate).format("MM/DD");
          this.mon = moment(this.sun).add(1, 'd').format("MM/DD");
          this.tue = moment(this.mon).add(1, 'd').format("MM/DD");
          this.wed = moment(this.tue).add(1, 'd').format("MM/DD");
          this.thu = moment(this.wed).add(1, 'd').format("MM/DD");
          this.fri = moment(this.thu).add(1, 'd').format("MM/DD");
          this.sat = moment(this.fri).add(1, 'd').format("MM/DD");
          this.getProjectTasks();
        },

        getEmployeeDetails: function(){
          this.getEmployeeDetailsApiLoaded=false
          axios.get('http://localhost:9000/employee/get_all')
            .then(response => {
              const data = response.data
              if (data) {
                this.allEmployeesDetails = []
                if (data["Employees"]){
                  this.allEmployeesDetails = [...data["Employees"]]
                } 
              }
              this.getEmployeeDetailsApiLoaded=true
            }).catch(error => {
              console.log(error);
            })
        },
        addProjectMembers: function(){
          console.log(this.selectedEmployees)
          bootstrap.Modal.getInstance(document.getElementById('exampleModal1')).hide();
          // if (this.isAddManger){
          //   bootstrap.Modal.getInstance(document.getElementById('exampleModal1')).hide();
          // }else{
          //   bootstrap.Modal.getInstance(document.getElementById('exampleModal')).hide();
          // }
          
          this.selectedEmployees.forEach(member => {
            var data={}
            data["project_id"]=this.project.project_id
            if (this.isAddManger){
              data["project_member_role"]="manager"
            }else{
              data["project_member_role"]="member"
            }
            var employeeDetails={}
            employeeDetails=this.allEmployeesDetails.find(emp => member == emp.employee_name)
            data["employee_id"]=employeeDetails.employee_id
            this.addProjectMembersApi(data)
          });
          this.$swal({
            title: "Added Members",
            text: "New project members are added!",
            icon: "success",
            buttons: false,
            timer: 2000,
          })
          this.selectedEmployees=[]

        },
        addProjectMembersApi: function(data){
          axios.post('http://localhost:9000/project/add_project_members', data)
              .then(response => {
                this.getProjectMembers()
              })
              .catch(function (error) {
                console.log(error);
              });
        },
        getProjectMembers: function(){
          this.prjectMembersApiLoaded=false
          const url= 'http://localhost:9000/project/get_project_members/'+ this.project.project_id
          axios.get(url)
            .then(response => {
              const data = response.data
              if (data) {
                this.allProjectMembers = []
                if (data["Project_members"]){
                  this.allProjectMembers = [...data["Project_members"]]
                  console.log(this.allProjectMembers)
                } 
              }
              this.prjectMembersApiLoaded=true
            }).catch(error => {
              console.log(error);
            })
        },
        deleteProjectMember: function(name){
          var member=this.allProjectMembers.find(mem => mem.employee_name == name)
          console.log(member)
          url='http://localhost:9000/project/delete_project_members/'+this.project.project_id+'/'+member.employee_id
          this.$swal({
            title: "Are you sure?",
            text: member.employee_name+" wiil be removed from the project: " +this.project.project_name,
            icon: "warning",
            buttons: true,
            dangerMode: true,
          })
          .then((willDelete) => {
            if (willDelete) {
                axios.delete(url)
              .then(response => {
                console.log(response)
                this.$swal(member.employee_name+" is removed from the project: " +this.project.project_name, {
                  icon: "success",
                });
                this.getProjectMembers()
              }).catch(error => {
                console.log(error);
              }) 
            } else {
              this.$swal(member.employee_name+" will still be in the project");
            }
          });
          
        },
        
        getProjectTasks: function() {
          this.getProjectTasksApiLoaded = false
          const data={}
          data["fromdate"] =moment(String(this.startDate)).format()
          data["todate"]=moment(String(this.endDate)).format()
          if(data["fromdate"] && data["todate"]){
            url='http://localhost:9000/task/get_project_task_by_week/'+this.project.project_id
            axios.post(url,data)
              .then(response => {
                const data = response.data
                if (data) {
                  this.fetched_project_tasks = []
                  if (data["Tasks"]){
                    this.fetched_project_tasks = [...data["Tasks"]]
                    this.fetched_project_tasks.forEach(t => {
                      t.task_start_date= moment(String(t.task_start_date)).format('YYYY/MM/DD')
                      t.task_end_date= moment(String(t.task_end_date)).format('YYYY/MM/DD')
                      t["estimateHours"] = this.formatMinutesToHours(t.task_estimated_minutes)  
                      t.edit=false
                    })
                  } 
                }
                this.getProjectTasksApiLoaded = true
                console.log(this.fetched_project_tasks)
                this.loadTasks()
              }).catch(error => {
                console.log(error);
              })
          }
          

        },
        formatMinutesToHours : function(value) {
          if(value){
            const hr=moment.duration(value, 'minutes').get('hours')
            const min= (value % 60)/60
            dur=Math.round((hr+min) * 10) / 10
            return dur
          }
        },
        filterEntries: function(value, arr, attr) {
          if (value === "All"){
            console.log(arr)
            return arr
          }
          if (value && arr) {
            const data= arr.filter( e => {
              return e[attr] == value
            })
            console.log(data)
            return data
          }
        },
        loadTasks: function () {
          this.tasks = [];
          this.membersTasks = {};
          // console.log(this.allTasks)
          // (moment(t.task_start_date).isSameOrAfter(this.startDate) &&
          //     moment(t.task_start_date).isSameOrBefore(this.endDate)) ||
          //     (moment(t.task_end_date).isSameOrAfter(this.startDate) &&
          //       moment(t.task_end_date).isSameOrBefore(this.endDate))          

          this.fetched_project_tasks.forEach(t =>{
            if (
              (moment(t.task_start_date).isSameOrBefore(this.endDate) &&
              moment(t.task_end_date).isSameOrAfter(this.startDate))              
            ){
              t.grid = {};
              if (moment(t.task_start_date).isSameOrBefore(this.startDate))
                t.grid['grid-column-start'] = 1; else t.grid['grid-column-start'] = +moment(t.task_start_date).day() + 1;
              if (moment(t.task_end_date).isSameOrAfter(this.endDate))
                t.grid['grid-column-end'] = 8; else t.grid['grid-column-end'] = +moment(t.task_end_date).day() + 2;
              this.tasks.push(t);
              this.members.forEach(member => {
                  if(!this.membersTasks[member]){
                    this.membersTasks[member] = [];
                  } 
                  if (t.assignees.includes(member)) {
                    this.membersTasks[member].push(t);
                  }
              });
            }
          });
          console.log("updated: ",this.tasks)
          // this.allTasks.forEach(t => {
          //   if ((moment(t.startDate).isSameOrAfter(this.startDate) &&
          //     moment(t.startDate).isSameOrBefore(this.endDate)) ||
          //     (moment(t.endDate).isSameOrAfter(this.startDate) &&
          //       moment(t.endDate).isSameOrBefore(this.endDate))) {
          //     t.grid = {};
          //     if (moment(t.startDate).isSameOrBefore(this.startDate))
          //       t.grid['grid-column-start'] = 1; else t.grid['grid-column-start'] = +moment(t.startDate).day() + 1;
          //     if (moment(t.endDate).isSameOrAfter(this.endDate))
          //       t.grid['grid-column-end'] = 8; else t.grid['grid-column-end'] = +moment(t.endDate).day() + 2;
          //     this.tasks.push(t);
          //     this.members.forEach(m => {
          //         if(!this.membersTasks[m]) this.membersTasks[m] = [];
          //         if (t.assignee.includes(m)) {
          //           this.membersTasks[m].push(t);
          //         }
          //     });
          //   }
          // });
        },
        edit: function (t) {
          t.edit = true;
          this.$forceUpdate();
        },
        saveTicket: function (t) {
          if (!t.ticket_id || t.ticket_id == "") {
            alert("Ticket ID is required");
            return;
          }
          if (!t.summary || t.summary == "") {
            alert("Summary is required");
            return;
          }
          if (!t.task_start_date || t.task_start_date == "") {
            alert("Start Date is required");
            return;
          }
          if (!t.task_end_date || t.task_end_date == "") {
            alert("End Date is required");
            return;
          }
          t.task_start_date = moment(t.task_start_date).format("yyyy/MM/DD");
          t.task_end_date = moment(t.task_end_date).format("yyyy/MM/DD");
          var data={}
          data["ticket_id"]=t.ticket_id 
          data["summary"]  = t.summary,
          data["task_start_date"]  = moment(String(t.task_start_date)).format()
          data["task_end_date"]  = moment(String(t.task_end_date)).format()
          data["task_estimated_minutes"]  = t.estimateHours * 60,
          data["project_id"]  = this.project.project_id
          data["project"] = this.project.project_name
          data["assignees"]  = [...t.assignees]
          console.log(data)
          if (t.task_id >= 0) {
            t.edit = false;
            // update
            let url ='http://localhost:9000/task/update_task/'+t.task_id
              axios.put(url, data)
              .then(response => {
                this.getProjectTasks()
                this.$swal({
                  title: "Updated",
                  text: "The ticket is updated!",
                  icon: "success",
                  buttons: false,
                  timer: 2000,
                })
              })
              .catch(function (error) {
                console.log(error);
                this.$swal({
                  title: "Sorry",
                  text: "There is some problem with updating!",
                  icon: "error",
                  buttons: false,
                  timer: 2000,
                })
              });
          } else {
            // add
            t.edit = false;
            axios.post('http://localhost:9000/task/add_task', data)
              .then(response => {
                this.getProjectTasks()
                this.$swal({
                  title: "Ticket Added",
                  text: "A new ticket is created!",
                  icon: "success",
                  buttons: false,
                  timer: 2000,
                })
              })
              .catch(function (error) {
                console.log(error);
                this.$swal({
                  title: "Sorry",
                  text: "Ticket could not be created!",
                  icon: "error",
                  buttons: false,
                  timer: 2000,
                })
              });
          
            this.task = {
              edit: true,
              assignee: [],
              startDate: moment().startOf('week').format("yyyy/MM/DD"),
              endDate: moment().endOf('week').format("yyyy/MM/DD"),
            }
          }
          // this.loadTasks();
          // localStorage.setItem("tasks", JSON.stringify(this.allTasks));
          // this.$forceUpdate();
        },
        deleteTicket: function(t){
          // delete api
          if(t.task_id){
            url='http://localhost:9000/task/delete_task/'+t.task_id
            
            this.$swal({
              title: "Are you sure?",
              text: "ticket wiil be permanently deleted",
              icon: "warning",
              buttons: true,
              dangerMode: true,
            })
            .then((willDelete) => {
              if (willDelete) {
                axios.delete(url)
                .then(response => {
                  console.log(response)
                  this.$swal("ticket is permanently deleted ", {
                    icon: "success",
                  });
                  this.getProjectTasks()
                }).catch(error => {
                  console.log(error);
                })
              } else {
                this.$swal("ticket will still be present");
              }
            });
          
          }
        },
        getAllEntries: function(){
          this.getAllEntriesApiLoaded=false
          url='http://localhost:9000/entry/get_project_entry/'+this.project.project_id
          axios.get(url)
            .then(response => {
              const data = response.data
              if (data) {
                this.all_entries = []
                if (data["Entries"]){
                  this.all_entries = [...data["Entries"]]
                }
                
              }
              this.getAllEntriesApiLoaded=true
              // console.log(this.fetched_project_tasks)
              // this.loadTasks()
            }).catch(error => {
              console.log(error);
            })
        },
        updateStatusOfEntry: function(data){
          let url ='http://localhost:9000/entry/update_entry/'+ data["entry_id"]
              axios.put(url, data)
              .then(response => {
                this.getAllEntries()
                this.entry_update_modal={}
                this.$swal({
                  title: "Updated",
                  text: "The entry status is updated!",
                  icon: "success",
                  buttons: false,
                  timer: 2000,
                })
              })
              .catch(function (error) {
                console.log(error);
                this.$swal({
                  title: "Sorry",
                  text: "There is some problem with updating!",
                  icon: "error",
                  buttons: false,
                  timer: 2000,
                })
              });
        },
        approveEntry: function(entry){
          entry.entry_status="approved"
          entry.approver_id=this.approver.id
          entry.approved_on=moment().format()
          this.entry_update_modal={}
          this.entry_update_modal=entry
          var data={}
          data["entry_id"] = this.entry_update_modal.entry_id
          data["task_id"] = this.entry_update_modal.task_id
          data["entry_status"]= this.entry_update_modal.entry_status
          data["entry_reject_reason"]=this.entry_update_modal.entry_reject_reason
          data["approver_id"]=this.entry_update_modal.approver_id
          data["approved_on"]=this.entry_update_modal.approved_on
          this.updateStatusOfEntry(data)
        },
        rejectEntry: function(entry){
          this.$swal({
            title: "Are you sure?",
            text: "the following entry wiil be rejected" ,
            icon: "warning",
            buttons: true,
            dangerMode: true,
          })
          .then((willReject) => {
            if (willReject) {

              this.$swal({
                text: 'Reason for the rejection',
                content: "input",
                button: {
                  text: "Update",
                  closeModal: false,
                },
              })
              .then(reason => {
                if(reason){
                  entry.entry_status="rejected"
                  entry.rejecter_id=this.approver.id
                  entry.rejected_on=moment().format()
                  this.entry_update_modal={}
                  this.entry_update_modal=entry
                  var data={}
                  data["entry_id"] = this.entry_update_modal.entry_id
                  data["task_id"] = this.entry_update_modal.task_id
                  data["entry_status"]= this.entry_update_modal.entry_status
                  data["entry_reject_reason"]= reason
                  data["rejecter_id"]=this.entry_update_modal.rejecter_id
                  data["rejected_on"]=this.entry_update_modal.rejected_on
                  this.updateStatusOfEntry(data)
                } else{
                  this.$swal(" No action is taken ");
                }
              })
            } else {
              this.$swal(" No action is taken ");
            }
          });
          
          
        },
        submitRejection: function(){
          var data={}
          data["entry_id"] = this.entry_update_modal.entry_id
          data["task_id"] = this.entry_update_modal.task_id
          data["entry_status"]= this.entry_update_modal.entry_status
          data["entry_reject_reason"]=this.entry_update_modal.entry_reject_reason
          data["rejecter_id"]=this.entry_update_modal.rejecter_id
          data["rejected_on"]=this.entry_update_modal.rejected_on
          
          
        }
      },

      watch: {
        'selected_status_filter': {
          handler: function(val){
            this.entries=this.filterEntries(val, this.all_entries, "entry_status")
            this.entries=this.filterEntries(this.selected_member_filter,this.entries,"employee")
          }
        },
        'selected_member_filter': {
          handler: function(val){
            this.entries=this.filterEntries(val, this.all_entries, "employee")
            this.entries=this.filterEntries(this.selected_status_filter,this.entries,"entry_status")
          }
        },
        'members': {
          handler: function(val){
            this.project_members_filters=["All"]
            this.project_members_filters = this.project_members_filters.concat(val)
            this.loadTasks()
          }
        },
        'project_filters_selected_index': {
          handler: function(val){
            this.project_filters_selected_index= parseInt(val, 10)
            this.project=this.projects_details[this.project_filters_selected_index]
          }
        },
        'project':{
          handler: function(val){
            this.getProjectTasks()
            this.getAllEntries()
            this.getProjectMembers()
          }
        },
        'projects_details': {
          handler: function(val){
            this.project= val[this.project_filters_selected_index] 
            console.log(this.project) 
          }
        },
        'all_entries': {
          handler: function(val){
            this.selected_status_filter="All"
            this.selected_member_filter="All"
            this.entries =[...this.all_entries]
          }
        },
        'allEmployeesDetails': {
          handler: function(val){
            this.employees=val.map(emp => emp.employee_name)
            console.log(this.employees)
          }
        }, 
        'allProjectMembers':{
          handler: function(val){
            managers= val.filter(mem => mem.project_member_role == "manager")
            members= val.filter(mem => mem.project_member_role == "member")
            this.members=[]
            this.members=members.map(member => member.employee_name)
            this.managers=[]
            this.managers=managers.map(manager => manager.employee_name)
          }
        },
        'startDate':{
          handler: function(val){
            this.getProjectTasks()
          }
        }
      },
      created() {
        var project = JSON.parse(localStorage.getItem('project'));
        this.project_filters_selected_index=project["view_project_index"]
        this.projects_details = [...project["all details"]]
        console.log(this.projects_details)
        console.log("index: ",this.project_filters_selected_index)
        this.getEmployeeDetails()
        //this.project = project["all details"][project["view_project_index"]]  
      },
      mounted() {
        this.project_members_filters=["All"]
        this.project_members_filters = this.project_members_filters.concat(this.members)
        console.log(this.project_members_filters)
        // if (localStorage.getItem("tasks") == undefined) {
        //   this.allTasks = [
        //     {
        //       id: 123456,
        //       assignee: [
        //         "Vijay",
        //         "Pradeep"
        //       ],
        //       ticketID: "GSO-121",
        //       summary: "Test task 121",
        //       startDate: moment().startOf('week').format("yyyy/MM/DD"),
        //       endDate: moment().endOf('week').format("yyyy/MM/DD"),
        //       estimateHours: "3"
        //     },
        //     {
        //       id: 123457,
        //       assignee: [
        //         "Vijay",
        //       ],
        //       ticketID: "GSO-122",
        //       summary: "Test task 122",
        //       startDate: moment().startOf('week').format("yyyy/MM/DD"),
        //       endDate: moment().endOf('week').format("yyyy/MM/DD"),
        //       estimateHours: "2"
        //     }
        //   ]
        // } else {
        //   this.allTasks = JSON.parse(localStorage.getItem("tasks"));
        // }
        this.dateSelected(new Date());
      },
      filters: {
        formatDate : function(value) {
          if (value) {
                return moment(String(value)).format('YYYY/MM/DD')
          }
        },
        formatDuration : function(value){
          if(value){
            const hr=moment.duration(value, 'minutes').get('hours')
            const min= (value % 60)/60
            dur=Math.round((hr+min) * 10) / 10
            return dur
          }
        }
      }
    })
  </script>

</body>

</html>