/* Custom page CSS
-------------------------------------------------- */

/* Not required for template or sticky footer method. */

main>.container {
  padding: 60px 15px 0;
}

.bg-dark {
  background-color: #42389d !important;
}

header a.nav-link {
  color: rgba(255, 255, 255, .55);
}

a.nav-link {
  font-size: 14px;
}

h1 {
  font-size: 1.8rem !important;
}

h2 {
  font-size: 1.3rem !important;
}

h4 {
  font-size: 1.2rem !important;
}

th {
  font-size: 0.8rem;
}

.timeInput {
  width: 65%;
  display: inline;
  padding: 0 !important;
  border: 0.1px solid #d8d8d8 !important;
}