/* Custom page CSS
-------------------------------------------------- */

/* Not required for template or sticky footer method. */

main>.container {
  padding: 60px 15px 0;
}

.bg-dark {
  background-color: #42389d !important;
}

header a.nav-link {
  color: rgba(255, 255, 255, .55);
}

a.nav-link {
  font-size: 14px;
}

h1 {
  font-size: 1.8rem !important;
}

h2 {
  font-size: 1.3rem !important;
}

h4 {
  font-size: 1.2rem !important;
}

th {
  font-size: 0.8rem;
}

.timeInput {
  width: 85%;
  display: inline;
  padding: 0 !important;
  border: none;
}

.timeInput:focus{
  border: none !important;
  outline:none !important;
  box-shadow:none !important;
}

.timeInput.approved {
  background: #bdffbd;
}

.timeInput.rejected {
  background: #ffbdbd;
}